{% extends "base/base.html" %}
			{% block context %}
			{% load staticfiles %}
	<div class="container">
		<div class="row mycenter">
			<div class="col-md-12">
				<label>用户登录</label>
				<form class="form-inline border" action="/login/" method="post" onsubmit="return validate_loginform()" >
					{% csrf_token %}
					<div class = "mypading" >
						<div class="form-group  border" id = "email">
							{{ form.username.errors }}
							<input type="text" name="username" class="form-control" id="{{ form.username.id_for_label }}" placeholder="Email"> 
						</div>
					</div>
					<div class="mypading">
						<div class="form-group  border mypading" id = "password1">
						{{ form.password.errors }}
							<input type="password" name="password" class="form-control" id="{{ form.password.id_for_label }}" placeholder="Password">
						</div>
					<div class="mypading">
						<div class="form-group  border mypading" id = "checkcode">
							<input type="text" name="checkcode" class="form-control" id="{{ form.password.id_for_label }}" placeholder="验证码">
							<img  onclick='ChangeCode(this);' id='imgCode' src="{% url 'login:code' %}" title='点击更新' />
						</div>
					</div>
					<div class="form-group">
						   <button type="submit" class="btn btn-primary">登录</button>
						   <button class="btn btn-primary"><a href="{% url 'login:register' %}" style="color:white">免费注册</a></button>
						   <button class="btn btn-primary"><a href="{% url 'login:forget' %}" style="color:white">忘记密码</a></button>
				    </div>
				</form>
			</div>
		</div>
	</div>
	{% endblock context %}