{% extends "base/base.html" %}
			{% block context %}
			{% load staticfiles %}
    
  <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="1000">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              <li data-target="#carousel-example-generic" data-slide-to="4"></li>
              <li data-target="#carousel-example-generic" data-slide-to="5"></li>
            </ol>
  
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active center-block">
                <img src="{% static 'picture/1.jpg' %}" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  ...
                </div>
              </div>
              <div class="item center-block">
                <img src="{% static 'picture/2.jpg' %}" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  ...
                </div>
              </div>
              <div class="item center-block">
                <img src="{% static 'picture/3.jpg' %}" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  ...
                </div>
              </div>
              <div class="item center-block">
                <img src="{% static 'picture/4.jpg' %}" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  ...
                </div>
              </div>
              <div class="item center-block">
                <img src="{% static 'picture/5.jpg' %}" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  ...
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
          </div>
        </div>
      </div>
    <div>
      {{ com.count }}
      {% for i in com %}
        {{ i.name }}
        {{ i.desc }}
      {% endfor %}
    </div>
    <div>
      {{ usercom.count }}
      {% for i in usercom %}
        {{ i.user.username }}
        {{ i.competion.name }}
        {{ i.tag }}
      {% endfor %}
    </div>
    <form class="form-inline border" action="/login/competionclick/" method="post" onsubmit="return validate_loginform()" >
      {% csrf_token %}
      <div class="form-group">
           <button type="submit" class="btn btn-primary">获取比赛结果</button>
        </div>
    </form>
  
    {% endblock context %}