{% extends "base/base.html" %}
			{% block context %}
	<div class="container">
		  <div class="row mycenter">
		    	<form id="registerform" class="form-inline" action="{% url 'login:register' %}"  method="post">
		    	{% csrf_token %}
              <div class="mypading">
                <div class="form-group " id="email" >
                  <input type="email" name="username" class="form-control " placeholder="Email">
                 </div>
              </div>
           <div class="mypading">
               <div class="form-group" id="password1">
                 <input type="password" name="password1" class="form-control"  placeholder="Password"> 
                 </div>
            </div>
                <div class="mypading" >
           <div class="form-group" id="password2">
                  <input type="password" name="password2" class="form-control"  placeholder="Password" >
                 </div>
            </div>
            <div class="mypading" >
              <div class="form-group" id="phonenum">
                     <input type="text" name="phonenum" class="form-control" placeholder="手机号码">
                    </div>
               </div>
            <div class="form-group">
	            <button type="submit" class="btn btn-default" id="register">注册</button>
            </div>
         </form>
		</div>
	</div>
	{% endblock context %}